<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!----webfonts--->
    <!--<link th:href='@{http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900}' rel='stylesheet' type='text/css'>-->
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="~{manHome::navigator}"></div>
    <div id="page-wrapper">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>班级名称</th>
                    <th>添加老师</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" th:each="info,infoStat : ${clasList}">
                    <th th:scope="row" th:text="${infoStat.index+1}"></th>
                    <td th:text="${info.getClaName()}"></td>
                    <td>
                        <form role="form" th:action="@{/manager/teaAddClaSub}">
                        <div class="form-group">
                            <label>选择老师</label>
                            <!--<select th:each="teainfo,teainfoStat : ${teaList}"class="form-control">-->
                                <!--<option th:name="teaId" th:value="${teainfo.getTeaId()}" th:text="${teainfo.getTeaName()}"></option>-->
                            <!--</select>-->
                            <select th:name="teaId" class="form-control">
                                <option th:value="${teainfo.getTeaId()}" th:each="teainfo,teainfoStat : ${teaList}" th:text="${teainfo.getTeaName()}"></option>
                            </select>
                        </div>
                            <input th:name="claId" th:value="${info.getClaId()}" style="display: none;" />
                        <button type="submit" class="btn-success btn">提交</button>
                        </form>
                        <!--<button type="submit" class="btn-success btn">提交</button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div>
</div>
<div class="copy_layout">
    <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
</div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Nav CSS -->
<link th:href="@{/css/custom.css}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
