<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Typography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!----webfonts--->
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
   <div th:replace="~{manHome::navigator}"></div>
    <div id="page-wrapper">
        <div class="graphs">
            <div class="xs">
                <h3>Forms</h3>

                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" th:action="@{/manager/addStuSub}">
                            <h1 th:text="${msg}"></h1>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">学生学号</label>
                                <div class="col-sm-8">
                                    <input th:name="id" type="text" class="form-control1" id="focusedinput" placeholder="仅接受数字">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">仅接受数字</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">学生姓名</label>
                                <div class="col-sm-8">
                                    <input th:name="name" type="text" class="form-control1"  placeholder="张三***">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">请尽量使用英文</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">学生年龄</label>
                                <div class="col-sm-8">
                                    <input th:name="age" type="text" class="form-control1"  placeholder="12">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">请输入数字</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分配班级</label>
                                <select th:name="claId" class="form-control">
                                    <option th:value="${info.getClaId()}" th:each="info,infoStat : ${allClass}" th:text="${info.getClaName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">学生性别</label>
                                <div class="col-sm-8">
                                    <input th:name="sex" type="text" class="form-control1"  placeholder="man/woman">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">请输入man或woman</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input th:name="password" type="password" class="form-control1" id="inputPassword" placeholder="Password">
                                </div>
                            </div>

                            <div class="col-sm-8 col-sm-offset-2">
                                <button type="submit" class="btn-success btn">提交</button>
                                <button class="btn-default btn">取消</button>
                                <button class="btn-inverse btn">刷新</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copy_layout">
                <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<link th:href="@{/css/custom.css}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>