<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link th:href="@{/css/lines.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!----webfonts--->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>-->
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/metisMenu.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <!-- Graph JavaScript -->
    <script th:src="@{/js/d3.v3.js}"></script>
    <script th:src="@{/js/rickshaw.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:replace="~{teaHome::teaNavigator}"></div>
    <div id="page-wrapper">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    //tea_id | tea_name | tea_age | tea_sex | cla_id | cla_name
                    <th>#</th>
                    <th>老师编号</th>
                    <th>老师姓名</th>
                    <th>老师年龄</th>
                    <th>老师性别</th>
                    <th>代课班级</th>
                    <th>班级名称</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" th:each="info,infoStat : ${claInfo}">
                    <th th:scope="row" th:text="${infoStat.index+1}"></th>
                    <td th:text="${info.getTeaId()}"></td>
                    <td th:text="${info.getTeaName()}"></td>
                    <td th:text="${info.getTeaAge()}"></td>
                    <td th:text="${info.getTeaSex()}"></td>
                    <td th:text="${info.getClaId()}"></td>
                    <td th:text="${info.getClaName()}"></td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div>
</div>
<div class="copy_layout">
    <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
</div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Nav CSS -->
<link th:href="@{/css/custom.css}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
