<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!----webfonts--->
    <!--<link th:href='@{http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900}' rel='stylesheet' type='text/css'>-->
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="~{teaHome::teaNavigator}"></div>
    <div id="page-wrapper">
        <div class="graphs">
            <div class="grid_3 grid_4">
                <h3>个人信息</h3>
                <div class="bs-example">
                    <table class="table">
                        <!--// 基础表（学生）学号 姓名 性别 年龄 班级 密码-->
                        <tbody>
                        <tr>
                            <td><h1 th:id="h1" th:text="'姓名：'+${name}"><a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
                            <!--<td class="type-info">Semibold 36px</td>-->
                            <td><h1>头像：<img th:src="@{/images/3.png}"></h1>></td>
                        </tr>
                        <tr>
                            <td><h1 th:id="h1" th:text="'员工编号：'+${stuId}"><a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
                        </tr>
                        <tr>
                            <td><h1 th:id="h5" th:text="'性别：'+${sex}"><a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>

                        </tr>
                        <tr>
                            <td><h1 th:id="h5" th:text="'年龄：'+${age}"><a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<!-- /#wrapper -->
<!-- Nav CSS -->
<link th:href="@{/css/custom.css}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
