<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Typography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!----webfonts--->
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="~{teaHome::teaNavigator}"></div>
    <div id="page-wrapper">
        <div class="graphs">
            <div class="grid_3 grid_4">
                <h3>当前学生作业</h3>
                <div class="bs-example">
                    <!--<table class="table">-->
                        <!--<tbody>-->
                        <tr>
                            <td><h4 th:id="h4">请将作业内容发布在输入框中，确认输入后提交。提交后作业会发送给老师，老师批改完成后作业变为完成状态。本次作业要求如下：
                                </br>请认真完成作业<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
                            <td class="type-info">请认真阅读要求</td>
                        </tr>
                        <!--</tbody>-->
                    <!--</table>-->
                </div>
            </div>
            <table>
                <tr th:each="info,infoStat : ${stuHomes}">
            <div class="grid_3 grid_5">
                <form th:action="@{/teacher/finishStu}">
                    <h2 th:text="'作业编号:'+${info.getHomId()}"></h2>
                    <h3>学生答案框</h3>
                    <textarea th:name="answer"  class="form-control" rows="3" th:text="${info.getAnswer()}"></textarea>
                    <h3>老师批改框</h3>
                    <textarea th:name="isFinish" class="form-control" rows="3"></textarea>
                    <input th:value="提交批改" type="submit" class="btn btn_5 btn-lg btn-primary">
                    <input th:name="stuId" style="display: none;"  th:value="${info.getStuId()}">
                    <input th:name="homId" style="display: none;"  th:value="${info.getHomId()}">
                </form>
            </div>
            </table>
            <div class="copy_layout">
                <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">作业管理</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">作业管理</a></p>
            </div>
        </div>
            </tr>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Nav CSS -->
<link th:href="@{/css/custom.css}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>